# !/bin/bash
cd /home/ubuntu
sudo wget {{zk.source}}
sudo tar -zxvf zookeeper-{{zk.version}}.tar.gz
rm zookeeper-{{zk.version}}.tar.gz

sudo mkdir /opt/zookeeper
sudo mv zookeeper-{{zk.version}} /opt/zookeeper


sudo mkdir /opt/zookeeper/zkdata
sudo mkdir /opt/zookeeper/logs