# set host file

# download, unzip and install zookeeper
cd /home/ubuntu
if [ ! -f ./zookeeper-{{zk.version}}.tar.gz];then
  sudo wget {{zk.source}}
  sudo tar -zxvf zookeeper-{{zk.version}}.tar.gz
  rm -f zookeeper-{{zk.version}}.tar.gz
fi

if [ ! -d /opt/zookeeper ];then
  sudo mkdir /opt/zookeeper
fi

if [ ! -d zookeeper-{{zk.version}} ];then
  sudo mv zookeeper-{{zk.version}} /opt/zookeeper
fi

# set zoo.cfg file
if [ ! -d /opt/zookeeper/zkdata ];then
  sudo mkdir /opt/zookeeper/zkdata
fi

if [ ! -d /opt/zookeeper/logs ];then
  sudo mkdir /opt/zookeeper/logs
fi


